* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.bg {
  position: fixed;
  z-index: -1;
  inset: 50% auto auto 50%;
  translate: -50% -50%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 50px;
  color: #000;
  letter-spacing: 4px;
  user-select: none;
}

.weather-city {
  width: 100%;
  line-height: 30px;
  border-radius: 10px;
  border: none;
  text-align: center;
  outline: none;
  background-color: #b0a0a0;
  margin: 0 0 40px 0;
}

.weather-data {
  padding: 30px;
  background-color: #807e7e;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.weather-temp {
  font-size: 60px;
  display: flex;
}

.weather-temp span {
  font-size: 20px;
  margin: 6px 0 0 0;
}

.weather-location-date {
  width: 100%;
  color: #000;
  font-size: 22px;
  text-align: center;
}

.weather-details p {
  font-size: 30px;
  margin: 0 0 5px 0;
}

.weather-icon {
  font-size: 40px;
}

.weather-details p:last-of-type {
  margin: 0;
}
